<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<ul class = "nav nav-tabs">
<li><a [routerLink]="['/']">Realtime Consolidated OrderBook</a></li>
<li><a [routerLink]="['/snapshot']">Snapshot OrderBook</a></li>

<div class="container">
	<router-outlet></router-outlet>
</div>